<% layout('layout/boilerplate') %>
<section id="order-details">
<div class="container-fluid">
    <div class="row">
        <%- include('../partial/dashboard-navbar.ejs')  %> 
        <div class="col-md-8">
            <div class="main-order">
                <div class="order-receive">
                    <div class="order-heading">
                        <p>
                            Details Of Unlisted Items
                        </p>
                    </div>
                     
                    <div class="order-content">
                            <div id="carouselExample" class="carousel slide">
                                <div class="carousel-inner">
                                    <% findProduct.productImage.forEach((image , i) => { %> 
                                  <div class="carousel-item <%= i===0 ? 'active' : '' %> ">
                                    <img src="<%= image.url  %> " class="d-block w-100 img-fluid" alt="...">
                                  </div>
                                  <% }) %> 
                                </div>
                                <% if(findProduct.productImage.length > 1){ %> 
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                                <% } %> 
                              </div>
                        
                        <div class="product-info">
                            <p>
                            <span><%= findProduct.productName  %> </span>
                        </p>
                            <p><label for=""> Product Price:</label> <%= findProduct.productPrice %> </p>
                            <p><label for=""> Sizes Available:</label> <%= findProduct.productSize  %> </p>
                            <p><label for=""> Category It Listed:</label><%= findProduct.category  %> </p>
                        </div>
                        <div class="action-button">
                            <form action="/product/unlisted/<%= findProduct._id %>?_method=PUT" method="POST">
                                <button>Active Product</button>
                            </form>
                            <form action="/product/unlisted/<%= findProduct._id %>?_method=DELETE "method="POST">
                                <button>Delete Permanently</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div> 
</section>