<% layout('layout/boilerplate') %> 
<%- include('../partial/navbar')  %> 
<section id="show-product">
    <div class="container g-0">
        

        <div class="row">
             <% if(!products.length){ %> 
                <%- include('../partial/empty-field.ejs')  %> 
            <% }else{ %> 
                <h1><%= category  %> </h1>
                <% for(let product of products){ %>
                    <% if(product.productAvaility === 'Out Of Stock'){ %>
                    <% }else{ %>  
                        
                    <div class="col-md-4">
                        
                        <div class="product-details">
                            <div class="card-main">
                                <div class="card-img">
                                    <img class="img-fluid" src="<%= product.productImage[0].url  %> " alt="product-img">
                                </div>
                                <div class="card-details">
                                    <div class="product-name">
                                        <p>
                                            <b>
                                                <%= product.productName.slice(0 , 45) %>...
                                            </b>
                                        </p>
                                        <p>
                                            <b>
                                                price:
                                                <%= product.productPrice  %>$
                                            </b>
                                        </p>
                                        <p>
                                           <b>User Experience:</b> Fully Comfortable
                                        </p>
                                        <p>
                                        <p>
                                           <b>Review:</b> 4.5/5
                                        </p>
                                    </div>
                                    <div class="product-button">
                                        <a href="/product/product-view/<%= product._id  %> ">View Product</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="d-none d-md-block">
                    </div>
                    <% } %> 
                    <% } %> 
            <% } %> 
            
        </div>
        

        
        
        
    </div>
</section>