<% layout('layout/boilerplate') %> 

<%- include('../partial/navbar')  %> 
<link rel="stylesheet" type="text/css" href="/css/starreview.css">




<section id="view-product">
    <div class="container-fluid">
        
        <div class="row g-0">
            <div class="col-lg-6">
                <div class="product-view-img">
                    <div class="image-1">
                        <img class="img-fluid" src="<%= findProduct.productImage  %> " alt="">
                    </div>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="sub-image">
                                <img class="img-fluid" src="/images/new-arrival/arrival-2.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="sub-image">
                                <img class="img-fluid" src="/images/new-arrival/arrival-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="sub-image">
                                <img class="img-fluid" src="/images/new-arrival/arrival-4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-view-details">
                    <div class="product-name">
                        <p>
                            <b>
                                <%= findProduct.productName  %> 
                            </b>
                        </p>
                        <p class="price">
                            <b>
                                price:
                                <%= findProduct.productPrice  %>$ 
                            </b>
                        </p>
                    </div>
                    <div class="product-details">
                        <p>
                            <%= findProduct.productDescription  %> 
                        </p>
                    </div>
                    <div class="product-availity">
                        <div class="available">
                           <%= findProduct.productAvaility  %> 
                        </div>
                    </div>
                    
                    <div class="product-color" id="color">
                        <div class="red"></div>
                        <div class="green"></div>
                        <div class="yellow"></div>
                        <div class="violet"></div>
                        <div class="purple"></div>
                        <div class="blue"></div>
                    </div>
                    <div class="sizes">
                        <div class="size-header">Choose Size:</div>
                        <select name="size" id="size">
                            <option value="" selected>Choose Your size</option>
                            <option value="<%= findProduct.productSize  %> " selected><%= findProduct.productSize  %></option>
                            <option value="<%= findProduct.productSize  %>" selected><%= findProduct.productSize  %></option>
                            <option value="<%= findProduct.productSize  %>" selected><%= findProduct.productSize  %></option>
                        </select>
                    </div>
                    
                    <% if(!activeUser || !activeUser.auth){  %> 
                        <div class="action-button">
                            <form action="/product/checkout/<%= findProduct._id  %>" method="POST">
                                <div class="product-quantity">
                                    <div class="quantity">
                                        <input type="Number" name="productQuantity" value="1">
                                    </div>
                                </div>
                                <button>Add To Cart</button>
                            </form>
                            <form action="/product/wishlist/<%= findProduct._id  %>" method="POST">
                                <button>Add To Wish List</button>
                            </form>
                        </div>
                    <% }else{ %>
                        <div class="action-button">
                            <a href='/product/<%= findProduct._id %>/edit'>Edit</a>
                        <form action="/product/delete/<%= findProduct._id  %>?_method=DELETE" method="POST">
                            <button>Delete</button>
                        </form>
                    </div>
                       <% } %>     
                    
                    
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="product-review">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    
                    <div class="main-review">
                        <% if(activeUser){ %> 
                        <div class="review-heading">
                            <p>Write a review about <%= findProduct.productName  %> </p>
                        </div>
                        <div class="review-maker">
                <form action='/product/product-view/<%=findProduct._id  %>/review/<%= activeUser._id  %> ' method='POST'>
                    <fieldset class="starability-basic">
                        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="rating" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="rating" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="rating" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="rating" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="rating" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset>
                    <input type="text" placeholder="Write Your Review" name="review">
                    <button>Review</button>
                </form>
               
            </div>
            <% } %> 
                      <% for(let review of findProduct.review){ %> 
                        <hr>
                        <div class="review-lookup">
                            <div class="userheading">
                                <img class="img-fluid" alt="profile-img" src="<%= review.reviewOwner.profilePic  %>">
                                <p>
                                   <%= review.reviewOwner.username %> 
                                </p>
                                
                                <p class="starability-result" data-rating="<%= review.rating %>">
                                    Rated: <%= review.rating  %>stars 
                                  </p>
                            </div>
                            <div class="main-content">
                                <p>
                                    <%= review.review  %> 
                                    
                                </p>
                            </div>
                            <div class="reply">
                                
                                <% if(activeUser && review.reviewOwner.equals(activeUser._id)){ %> 
                                    <a href= '/product/product-view/<%=findProduct._id %>/review/<%= review._id  %>/edit ' title="Edit comment" id="comment-reply">Edit Comment</a>
                                    
                                    <form action="/product/product-view/<%= findProduct._id  %>/review/<%= review._id  %>?_method=DELETE" method="POST">
                                     <button>Delete</button>
                                    </form>
                                <% } %> 
                                    
                            </div>
                            
                            <h3>Replies to  <%= review.reviewOwner.username  %>'s Review</h3>
                           
                                <div class="sub-review">
                                    <% for(let subreview of review.subReview){ %>
                                        <div class="commentetor-name">
                                            <img src="<%= subreview.userId.profilePic  %> " alt="" class="img-fluid">
                                            <p>
                                                <%= subreview.userId.username %> 
                                            </p>
                                        </div>
                                       
                                        <div class="main-comment">
                                            <p>
                                            <%= subreview.subReview  %> 
                                        </p>
                                        </div>
                                        
                                        <div class="sub-button">
                                            <% if(activeUser && subreview.userId.equals(activeUser._id)){ %> 
                                            <a href= '' title="Edit comment" id="comment-reply">Edit Comment</a>
                                    
                                            <form title="Delete comment" action="" method="POST">
                                             <button>Delete</button>
                                            </form>
                                        </div>
                                        <% } %> 
                                    
                                    <% } %> 
                                </div>
                            
                            <div class="review-maker" id="show-form">
                            <% if(activeUser){ %> 
                                <form action="/product/product-view/<%= findProduct._id %>/review/<%= review._id  %>/comment" method="POST">
                                    <input type="text" placeholder="Reply To This Review" name="subReview">
                                    <button>Reply</button>
                                </form>
                            <% } %> 
                            </div>
                        </div>
                        
                        <% } %> 
                    
                        
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
  
</section> 