<%- layout('layout/boilerplate')  %> 
<section id="edit-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="backto-product">
                    <a href="/product/product-view/<%- findEdit._id  %> ">
                       <p> 
                        <i class="fa-solid fa-arrow-left px-3"></i>Back to the Product
                        
                    </p>
                       </a>
                       
                </div>
                <div class="edit-header">
                    <p>Edit Product</p>
                </div>
                <div class="edit-form">
                    <div class="col-lg-8 offset-2 edit-main-form">
                        <form action="/product/<%= findEdit._id  %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
                            <div class="form-decor">
                    <div class="input-group">
                        <input type="file" class="form-control" id="image" name="productImage" multiple>
                      </div>
                      </div>
                      <!-- <% findEdit.productImage.forEach((image , i) => { %>
                        <img src="<%= image.thumbnail %>" class="img-fluid" alt="Edited Images">
                        <input type="checkbox" id="image-<%= [i] %> " name="deleteImage[]" value="<%= image.filename  %> ">
                        <div class="caheckbox-label">
                        <label for="image-<%= [i] %> ">Delete</label>
                    </div>
                        <% }) %>   -->
                        <div class="edit-image-show">
                            <div class="container">
                                <div class="row">
                                    <% findEdit.productImage.forEach((image , i) => { %> 
                                    <div class="col-md-4">
                                        <div class="image-box">
                                            <img class="img-fluid" src="<%= image.thumbnail %> " alt="">
                                        </div>
                                        <div class="image-label">
                                            <input type="checkbox" id="image-<%= i  %> " value="<%=image.filename%>" name="deleteImages[]">
                                            <label for="image-<%= i %> ">Select To Delete</label>
                                        </div>
                                    </div>
                                    <% }) %> 
                                </div>
                            </div>
                        </div>
                            <div class="form-decor">
                                <label for="productname">Enter The Product Name: </label>
                    <input type="text" name="productName" id="productname" value="<%= findEdit.productName  %> ">
                            </div>
                            <div class="form-decor">
                                <label for="productdescribe">Tell Something About Your Product:</label>
                                <textarea name="productDescription" id="productdescribe">
                                    <%= findEdit.productDescription  %> 
                                </textarea>
                            </div>
                            <div class="form-decor">
                                <label for="productprice">
                                    Enter The Price:
                                </label>
                                <input type="text" name="productPrice" id="productprice" value="<%= findEdit.productPrice  %>">
                            </div>
                            <div class="form-decor">
                                <label for="available">Is Available</label>
                    <select name="productAvaility" id="available">
                        <option value="In Stock" <%= findEdit.productAvaility === 'In Stock' ? 'selected' : ''  %>  > In Stock </option>
                        <option value="Out Of Stock" <%= findEdit.productAvaility === 'Out Of Stock' ? 'selected' : ''  %> >Out Of Stock </option>
                    </select>
                            </div>
                            <div class="form-decor">
                                <label for="size">
                                    Edit The Size:
                                </label>
                                <input type="text" name="productSize" value="<%= findEdit.productSize  %> ">
                            </div>
                            <div class="form-decor">
                                <label for="color">
                                    Edit The Colors:
                                </label>
                                <input type="text" name="productColor" value="<%= findEdit.productColor  %> ">
                            </div>
                            <div class="sign-in-button">
                                <button>Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
