<% layout('layout/boilerplate') %> 
<%- include('../partial/navbar')  %> 
<section id="view-product">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-lg-6">
                <div class="product-view-img">
                    <div class="image-1">
                        <img class="img-fluid" src="<%= findProduct.productImage  %> " alt="">
                    </div>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="sub-image">
                                <img class="img-fluid" src="/images/new-arrival/arrival-2.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="sub-image">
                                <img class="img-fluid" src="/images/new-arrival/arrival-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="sub-image">
                                <img class="img-fluid" src="/images/new-arrival/arrival-4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-view-details">
                    <div class="product-name">
                        <p>
                            <b>
                                <%= findProduct.productName  %> 
                            </b>
                        </p>
                        <p class="price">
                            <b>
                                price:
                                <%= findProduct.productPrice  %>$ 
                            </b>
                        </p>
                    </div>
                    <div class="product-details">
                        <p>
                            <%= findProduct.productDescription  %> 
                        </p>
                    </div>
                    <div class="product-availity">
                        <div class="available">
                           <%= findProduct.productAvaility  %> 
                        </div>
                    </div>
                    <div class="product-color" id="color">
                        <div class="red"></div>
                        <div class="green"></div>
                        <div class="yellow"></div>
                        <div class="violet"></div>
                        <div class="purple"></div>
                        <div class="blue"></div>
                    </div>
                    <div class="sizes">
                        <div class="size-header">Choose Size:</div>
                        <select name="size" id="size">
                            <option value="" selected>Choose Your size</option>
                            <option value="<%= findProduct.productSize  %> " selected><%= findProduct.productSize  %></option>
                            <option value="<%= findProduct.productSize  %>" selected><%= findProduct.productSize  %></option>
                            <option value="<%= findProduct.productSize  %>" selected><%= findProduct.productSize  %></option>
                        </select>
                    </div>
                    <div class="action-button">
                        <a href="/product/checkout">Add to cart</a>
                        <a href="/product/wishlist">Add to Wishlist</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 