<% layout('layout/boilerplate') %> 

<%- include('../partial/navbar')  %> 
<link rel="stylesheet" type="text/css" href="/css/starreview.css">




<section id="view-product">
    <div class="container-fluid">
        
        <div class="row g-0">
            <div class="col-lg-6">

                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <% findProduct.productImage.forEach((image , i) => { %> 
                      <div class="carousel-item <%= i===0 ? 'active' : '' %> ">
                        <img src="<%= image.url  %> " class="d-block w-100 img-fluid" alt="...">
                      </div>
                      <% }) %> 
                    </div>
                    <% if(findProduct.productImage.length > 1){ %> 
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                    <% } %> 
                  </div>
            </div>
            <div class="col-lg-6">
                <div class="product-view-details">
                    <a href="/product/product-showcase?category=<%= findProduct.category %>"><%= findProduct.category %></a>
                    <div class="product-name">
                        <p>
                            <b>
                                <%= findProduct.productName  %> 
                            </b>
                        </p>
                        <p class="price">
                            <b>
                                price:
                                <%= findProduct.productPrice  %>$ 
                            </b>
                        </p>
                    </div>
                    <div class="product-details">
                        <p>
                            <%= findProduct.productDescription  %> 
                        </p>
                    </div>
                    
                    
                    <% if(!activeUser || !activeUser.auth){  %> 
                        <div class="customer-button">
                            <form action="/product/checkout/<%= findProduct._id  %>" method="POST">
                                <div class="sizes" id="color">
                                    <div class="size-header">Choose Color:</div>
                                    <select name="cartProductColor" id="color">
                                        <% for(let color of findProduct.productColor){ %> 
                                            <option value="<%= color  %> ">
                                                <%= color %> 
                                            </option>
                                        <% } %> 
                                    </select>
                                </div>
                                <div class="sizes">
                                    <div class="size-header">Choose Size:</div>
                                    <select name="cartProductSize" id="size">
                                        <% for(let size of findProduct.productSize){ %> 
                                            <option value="<%= size  %>">
                                                <%= size %> 
                                            </option>
                                        <% } %> 
                                    </select>
                                </div>
                                <div class="sizes">
                                    <div class="size-header">Select Quantity:</div>
                                    <input type="text" name="productQuantity" value="1">
                                </div>
                                <div class="cartButton">
                                    <button>
                                        
                                        <i class="fa fa-cart-plus">
                                            
                                        </i>Add to the cart
                                    </button>
                                </div>
                            </form>
                            <form action="/product/wishlist/<%= findProduct._id  %>" method="POST">
                                <div class="cartButton">
                                    <button title="Add to wishlist">	
                                        <i class="fa fa-heart"></i>Add To Wishlist</button>
                                </div>
                            </form>
                        </div>
                    <% }else{ %>
                        <div class="action-button">
                            <a href='/product/<%= findProduct._id %>/edit'>Edit</a>
                        <form action="/product/delete/<%= findProduct._id  %>?_method=DELETE" method="POST">
                            <button>Delete</button>
                        </form>
                    </div>
                       <% } %>     
                    
                    
                </div>
            </div>
        </div>
    </div>
    <% if(activeUser){ %> 
    <hr>
    <% } %> 
    <div class="product-review">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    
                    <div class="main-review">
                        <% if(activeUser){ %> 
                        <div class="review-heading">
                            <p>Write a review about <%= findProduct.productName  %> </p>
                        </div>
                        <div class="review-maker">
                <form action='/product/product-view/<%=findProduct._id  %>/review/<%= activeUser._id  %> ' method='POST'>
                    <fieldset class="starability-basic">
                        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="rating" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="rating" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="rating" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="rating" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="rating" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset>
                    <input type="text" placeholder="Write Your Review" name="review">
                    <button>Review</button>
                </form>
               
            </div>
            <% } %> 
                      <% for(let review of findProduct.review){ %> 
                        <hr>
                        <div class="review-lookup">
                            <div class="userheading">
                                <img class="img-fluid" alt="profile-img" src="<%= review.reviewOwner.profilePic  %>">
                                <p>
                                   <%= review.reviewOwner.username %> 
                                </p>
                                
                                <p class="starability-result" data-rating="<%= review.rating %>">
                                    Rated: <%= review.rating  %>stars 
                                  </p>
                            </div>
                            <div class="main-content">
                                <p>
                                    <%= review.review  %> 
                                    
                                </p>
                            </div>
                            <div class="reply">
                                
                                <% if(activeUser && review.reviewOwner.equals(activeUser._id)){ %> 
                                    <a href= '/product/product-view/<%=findProduct._id %>/review/<%= review._id  %>/edit ' title="Edit comment" id="comment-reply">Edit Comment</a>
                                    
                                    <form action="/product/product-view/<%= findProduct._id  %>/review/<%= review._id  %>?_method=DELETE" method="POST">
                                     <button>Delete</button>
                                    </form>
                                <% } %> 
                                    
                            </div>
                            
                            <h3>Replies to  <%= review.reviewOwner.username  %>'s Review</h3>
                           
                                <div class="sub-review">
                                    <% for(let subreview of review.subReview){ %>
                                        <div class="commentetor-name">
                                            <img src="<%= subreview.userId.profilePic  %> " alt="" class="img-fluid">
                                            <p>
                                                <%= subreview.userId.username %> 
                                            </p>
                                        </div>
                                       
                                        <div class="main-comment">
                                            <p>
                                            <%= subreview.subReview  %> 
                                        </p>
                                        </div>
                                        
                                        <div class="sub-button">
                                            <% if(activeUser && subreview.userId.equals(activeUser._id)){ %> 
                                            <a href= '/product/product-view/<%= findProduct._id  %>/review/<%= review._id  %>/subreview/<%= subreview._id  %>/comment/edit' title="Edit comment" id="comment-reply">Edit Comment</a>
                                    
                                            <form title="Delete comment" action="/product/product-view/<%= findProduct._id %>/review/<%= review._id %>/subreview/<%= subreview._id %>/comment?_method=DELETE" method="POST">
                                             <button>Delete</button>
                                            </form>
                                        </div>
                                        <% } %> 
                                    
                                    <% } %> 
                                </div>
                            
                            <div class="review-maker" id="show-form">
                            <% if(activeUser){ %> 
                                <form action="/product/product-view/<%= findProduct._id %>/review/<%= review._id  %>/comment" method="POST">
                                    <input type="text" placeholder="Reply To This Review" name="subReview">
                                    <button>Reply</button>
                                </form>
                            <% } %> 
                            </div>
                        </div>
                        
                        <% } %> 
                    
                        
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
  
</section> 