<% layout('layout/boilerplate.ejs') %> 
<%- include('../partial/navbar')  %> 
<section id="wishlist">
    <div class="container">
        <% if(!wishUser.wishlist.length){ %> 
            <%- include('../partial/empty-field.ejs') %> 
            <% }else{ %> 
        <% for(let wish of wishUser.wishlist){ %> 
        <div class="row">
            <div class="col-lg-4">
                <div class="wishlist-image">
                    <img class="img-fluid" src="<%= wish.productImage  %> " alt="wishlist-image">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="wishlist-product">
                    <div class="product-name">
                        <p>
                            <%= wish.productName  %> 
                         </p>
                    </div>
                    <div class="product-price">
                        <p>
                              Price: <%= wish.productPrice  %> $ 
                        </p>
                    </div>
                    <div class="action-button">
                        
                        <a href="/product/product-view/<%= wish._id %>">
                            <i class="fa-regular fa-eye"></i>
                                    View product
                                </a>
                            <form class="cart-from" action="/product/checkout/<%= wish._id  %>/user/<%= activeUser._id  %>" method="POST">
                                <button>
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    Add to cart</button>
                            </form>
                            <form action="/product/wishlist/<%= wish._id  %>?_method=DELETE  " method="POST">
                                <button>
                                    <i class="fa-solid fa-trash" title="Delete Wishlist"></i>
                                </button>
                              </form>
                        
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <% } %> 
        <% } %> 
    </div>
   
</section>